# Python
.DS_Store
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDEA
.vscode/
.idea/

# macOS system files
.DS_Store

# Data & Models 
data/*
!data/.gitkeep
models/*
!models/.gitkeep
outputs/*
/cache

# Веса моделей и экспорты
*.pt
*.onnx
*.mlpackage/
*.engine
*.pb

# Видео и результаты обработки
*.mp4
*.avi
*.mov
runs/

# Logs
*.log

# Внешние тяжелые библиотеки и зависимости
mmaction2/